@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(27, 25, 25);
    height: 100vh;
}

li {
    text-decoration: none;
    
}

nav {
    display: flex;
    height: 20px;
    background-color: #4E148C;
    justify-content: center;
    padding: .4em .8em;
    align-items: center;
}

.container {
    margin: 0 auto;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    width: 200px;
    padding-top: 5px;
}

.nav__link {
color: rgb(27, 25, 25);
font-size: 18px;
transition: all 100ms ease-in-out;
padding: 0;
margin: 0;
}

.nav__link:hover {
color: #97DFFC;  
}

.logoContainer {
    display: flex;
    font-size: 45px;
    padding: 25px;
}

.logoContainer img {
    width: 300px;
    height: 300px;
}

.logoText {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 25px;
    align-items: center;
    justify-content: center;
}

.logoText h1 {
    font-size: 50px;
}

.logoText h4 {
    font-size: 25px;

}